{% extends 'base.html' %}
{% block content %}
<h3 class="text-danger">Lista de Clientes</h3>
<table class="table table-striped bg-white rounded shadow">
  <thead class="table-dark">
    <tr>
      <th>ID</th><th>Nombre</th><th>Apellido</th><th>Email</th><th>Teléfono</th><th>Acciones</th>
    </tr>
  </thead>
  <tbody>
    {% for cliente in clientes %}
    <tr>
      <td>{{ cliente.id_cliente }}</td>
      <td>{{ cliente.nombre }}</td>
      <td>{{ cliente.apellido }}</td>
      <td>{{ cliente.email }}</td>
      <td>{{ cliente.telefono }}</td>
      <td>
        <a href="{% url 'actualizar_cliente' cliente.id_cliente %}" class="btn btn-warning btn-sm">Editar</a>
        <a href="{% url 'borrar_cliente' cliente.id_cliente %}" class="btn btn-danger btn-sm">Borrar</a>
      </td>
    </tr>
    {% endfor %}
  </tbody>
</table>
{% endblock %}
