{% load static %}
<nav class="navbar navbar-expand-lg navbar-dark bg-danger shadow">
  <div class="container-fluid">
    <a class="navbar-brand fw-bold text-white" href="{% url 'inicio_mcdonalds' %}">
      🍔 McDonald's Admin
    </a>

    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarNavDropdown">
      <ul class="navbar-nav ms-auto">

        <!-- INICIO -->
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="{% url 'inicio_mcdonalds' %}">Inicio</a>
        </li>

        <!-- CLIENTES -->
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle text-white" href="#" id="navbarClientes" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Clientes
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarClientes">
            <li><a class="dropdown-item" href="{% url 'agregar_cliente' %}">Agregar Cliente</a></li>
            <li><a class="dropdown-item" href="{% url 'ver_clientes' %}">Ver Clientes</a></li>
          </ul>
        </li>

        <!-- PEDIDOS -->
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle text-white" href="#" id="navbarPedidos" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Pedidos
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarPedidos">
            <li><a class="dropdown-item" href="{% url 'agregar_pedido' %}">Agregar Pedido</a></li>
            <li><a class="dropdown-item" href="{% url 'ver_pedidos' %}">Ver Pedidos</a></li>
          </ul>
        </li>

        <!-- EMPLEADOS -->
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle text-white" href="#" id="navbarEmpleados" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Empleados
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarEmpleados">
            <li><a class="dropdown-item" href="#">Agregar Empleado</a></li>
            <li><a class="dropdown-item" href="#">Ver Empleados</a></li>
            <li><a class="dropdown-item" href="#">Actualizar Empleado</a></li>
            <li><a class="dropdown-item" href="#">Borrar Empleado</a></li>
          </ul>
        </li>

      </ul>
    </div>
  </div>
</nav>
